@use "./variables" as *;
@use "./mixins" as *;

.food-item-cards {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.error {
  color: $error-color;
  padding: $spacing-sm;
  margin: $spacing-md 0;
}

.loading {
  padding: $spacing-md;
  text-align: center;
}
